*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* neue plak fonts */
@font-face {
    font-family: 'Neue Plak Bold';
    src: url('@/assets/fonts/Neue-Plak-Bold.ttf');
}
@font-face {
    font-family: 'Neue Plak Condensed Black';
    src: url('@/assets/fonts/Neue-Plak-CondBlack.ttf');
}
@font-face {
    font-family: 'Neue Plak Regular';
    src: url('@/assets/fonts/Neue-Plak-Regular.otf');
}
@font-face {
    font-family: 'Neue Plak Semi Bold';
    src: url('@/assets/fonts/Neue-Plak-SemiBold.otf');
}

.heading1 {
    text-align: left;
    width: 250px;
}
.p-text {
    text-align: left;
    width: 310px;
    font-size: 14px;
    font-family: "Neue Plak Regular", sans-serif;
}
.button {
    background-color: black;
    text-align: center;
    height: 50px;
    width: 150px;
    border: none;
    font-size: 14px;
    color: white;
    font-family: "Neue Plak Regular", sans-serif;
    transition: 0.3s ease;
    display: block;
}
.button:hover {
    padding-right: 5px;
    width: 200px;
    font-size: 14px;
}
.gear-bear {
    text-align: left;
    font-size: 24px;
    font-weight: 800;
    margin-left: 65px;
    font-family: "Neue Plak Bold", sans-serif;
    color: black;
}
.gear-bear, p{
    margin-left: 65px;
}
.pr-name {
    font-family: 'Neue Plak Bold';
    font-size: 16px;
    position: absolute;
    top: 190%;
    left: 68%;
    color: white;
}
.bold-text {
    font-size: 64px;
    font-family: 'Neue Plak Condensed Black';
    text-align: left;
    width: 250px;
    color: white;
    position: absolute;
    top: 198%;
    left: 68%;
    line-height: 0.8;
}
.pr-text {
    position: absolute;
    top: 216%;
    left: 64%;
    width: 340px;
    color: white;
    font-family: 'Neue Plak Regular';
}
.buttons {
    position: absolute;
    top: 237%;
    left: 68%;
    width: 200px;
    height: 50px;
    background: none;
    border: 2px white solid;
    color: white;
    font-family: 'Neue Plak Regular';
    font-size: 16px;
}
p {
    text-align: left;
    font-size: 14px;
    font-family: 'Neue Plak Regular';
}
.gear-images{
    display: flex;
    margin: 20px 0 60px 0;
    justify-content: space-evenly;
}
.gb-img {
    width: 300px;
    text-align: left;
    font-family: "Neue Plak Semi Bold", sans-serif;
    font-size: 14px;
    text-decoration: underline;
    font-weight: 600;
    color: black;
}
.promo-img {
    margin: 20px 0 60px 0;
    display: flex;
    height: 320px;
    justify-content: center;
}
#promo {
    margin: 0 10px;
    height: 330px;
}
.img1, .img2 {
    position: absolute;
    top: 338%;
}
.img2, .img4 {
    position: absolute;
    left: 72%;
}
.img1, .img3 {
    position: absolute;
    left: 47%;
}
.img3, .img4 {
    position: absolute;
    top: 394%;
}
.gb-text {
    height: 685px;
}
.images img {
    height: 383px;
    margin: 0 5px 5px 5px;
}
.video {
    position: absolute;
    top: 338%;
    left: -25%;
}
.vio {
    width: 630px;
}
video {
    margin-bottom: 40px;
}
@media (max-width: 394px) {
    .gear-bear {
        margin: 10px;

        font-size: 22px;
    }
    section {
        margin-bottom: 40px;
    }
    .sec1 {
        margin: 0;
    }
    .gb-unlock {
        margin: 0 0 0 10px;
    }
    .disappearo {
        display: none;
    }
    .desktop {
        display: none;
    }
    .pr-name {
        position: static;
        color: black;
        margin: 10px 0 0 10px;
        text-align: left;
    }
    .bold-text {
        position: static;
        color: black;
        margin: 0 0 0 10px;
        font-size: 48px;
    }
    .pr-text {
        position: static;
        color: black;
        margin: 0 0 0 10px;
        width: 343px;
        font-size: 14px;
    }
    .buttons {
        position: static;
        color: white;
        background-color: black;
        width: 370px;
        height: 50px;
        font-size: 14px;
        font-family: 'Neue Plak Regular';
        border: none;
    }
    p {
        margin: 0 0 0 10px;
    }
    .video {
        position: absolute;
        top: 426%;
        left: -1%;
    }
    .vio {
        width: 376px;
    }
    .images img {
        width: 185px;
        height: auto;
        margin: auto;
    }
    .img1, .img2 {
        top: 499%;
    }
    .img3, .img4 {
        top: 531%;
    }
    .img1, .img3 {
        left: 2%;
    }
    .img2, .img4 {
        left: 51%;
    }
    .promo-img {
        display: none;
    }
    .gear-images {
        display: none;
    }
    .carousel-item {
        margin-top: 15px;
        margin-bottom: 40px
    }
}
@media (min-width: 1000px) {
    .mobile {
        display: none;
    }
    #carouselExampleSlidesOnly {
        display: none;
    }
}
@media (min-width: 1919px) {
    .gb-img {
        width: 390px;
    }
    .pr-name {
        top: 136%;
        left: 68%;
    }
    .bold-text {
        top: 142%;
        left: 68%;
    }
    .pr-text {
        top: 154%;
        left: 68%;
        margin: 0;
    }
    .buttons {
        top: 168%;
        left: 68%;
        width: 250px;
    }
    #promo {
        width: 390px;
        height: auto;
    }
    .video {
        top: 240%;
    }
    .vio {
        width: 800px;
    }
    .images img {
        width: 450px;
        height: auto;
        margin: auto;
    }
    .img1, .img2 {
        top: 240%;
    }
    .img3, .img4 {
        top: 287%;
    }
    .img1, .img3 {
        left: 47%;
    }
    .img2, .img4 {
        left: 72%;
    }
    .desktop {
        height: 650px;
    }
}