@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Neue Plak Bold';
    src: url('@/assets/fonts/Neue-Plak-Bold.ttf');
}
@font-face {
    font-family: 'Neue Plak Condensed Black';
    src: url('@/assets/fonts/Neue-Plak-CondBlack.ttf');
}
@font-face {
    font-family: 'Neue Plak Regular';
    src: url('@/assets/fonts/Neue-Plak-Regular.otf');
}
@font-face {
    font-family: 'Neue Plak Semi Bold';
    src: url('@/assets/fonts/Neue-Plak-SemiBold.otf');
}

.heading1 {
    text-align: left;
    width: 250px;
}
.p-text {
    text-align: left;
    width: 310px;
    font-size: 14px;
    font-family: "Neue Plak Regular", sans-serif;
}
.button {
    background-color: black;
    text-align: center;
    height: 50px;
    width: 150px;
    border: none;
    font-size: 14px;
    color: white;
    font-family: "Neue Plak Regular", sans-serif;
    transition: 0.3s ease;
    display: block;
}
.button:hover {
    padding-right: 5px;
    width: 200px;
    font-size: 14px;
}
.gear-bear {
    text-align: left;
    font-size: 24px;
    font-weight: 800;
    margin-left: 65px;
    font-family: "Neue Plak Bold", sans-serif;
    color: black;
}
.gear-bear, p{
    margin-left: 65px;
}
.pr-name {
    font-family: 'Neue Plak Bold';
    font-size: 16px;
    position: absolute;
    top: 186%;
    left: 68%;
    color: white;
}
.bold-text {
    font-size: 64px;
    font-family: 'Neue Plak Condensed Black';
    text-align: left;
    width: 250px;
    color: white;
    position: absolute;
    top: 193%;
    left: 68%;
    line-height: 0.8;
}
.pr-text {
    position: absolute;
    top: 213%;
    left: 64%;
    width: 340px;
    color: white;
    font-family: 'Neue Plak Regular';
}
.btn {
    position: absolute;
    top: 233%;
    left: 68%;
    width: 200px;
    height: 50px;
    background: none;
    border: 2px white solid;
    color: white;
    font-family: 'Neue Plak Regular';
    font-size: 16px;
}
p {
    text-align: left;
    font-size: 14px;
    font-family: 'Neue Plak Regular';
}
.gear-images{
    display: flex;
    margin: 20px 0 60px 0;
    justify-content: space-evenly;
}
.gb-img {
    width: 300px;
    text-align: left;
    font-family: "Neue Plak Semi Bold", sans-serif;
    font-size: 14px;
    text-decoration: underline;
    font-weight: 600;
    color: black;
}
.promo-img {
    margin: 20px 0 60px 0;
    display: flex;
    height: 320px;
    justify-content: center;
}
#promo {
    margin: 0 10px;
    height: 330px;
}
.img1 {
    position: absolute;
    top: 330%;
    left: 45%;
}
.img2 {
    position: absolute;
    top: 330%;
    left: 65%;
}
.img3 {
    position: absolute;
    top: 376%;
    left: 45%;
}
.img4 {
    position: absolute;
    top: 376%;
    left: 65%;
}
.gb-text {
    height: 685px;
}
.images img {
    width: 300px;
    margin: 0 5px 5px 5px;
}
.video {
    position: absolute;
    top: 330%;
    left: 10%;
}
@media (max-width: 394px) {
    .gear-bear {
        margin: 10px;
    }
}